body{
background:linear-gradient(#e6bee0,white);

font: 14px "lucida Grande", "Trebuchet MS", Verdana,sans-serif;
background-repeat: no-repeat;
}
h1,h2{
font-family: Georgia;
}
h1{
    border-bottom: 3px solid rgb(218, 186, 186);
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    align-items: center;
    text-align: center;
}
h2{
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: rgb(216, 179, 200);
    padding-left: 5px;
    margin: 0 0 0 -15px;
    font-weight: normal;
    align-items: center;
    text-align: center;
}
label{
font-weight: bold;
margin-left: 15px;
}
label::after{
    content: ":";
}
a{
    text-decoration: none;
    color: rgb(8, 7, 7);
    align-items: center;
}
a:visited{
    text-decoration: none;
    color: white;
}
.card{
    padding: 5px;
}
.bonita{
    float: right;
    margin-left: 50%;
}
.email{
    display: block;
}

.bonita{
    width: 200px;
    margin: 5px;
    height: 200px;
    position: relative;
    border-radius: 80px;
    margin-right: 999px; 
    border: 1px solid;
    border-radius: 50%;
    background-color: aliceblue;
    border-color: rgb(39, 31, 31);
    
}
.secao{ 
    
}